:root {
  /* رنگ های پایه */
  --c-white: #ffffff;
  --c-light-bg: #f9f9f9;
  --c-card: #ececec;

  --c-text: #222222;
  --c-text-muted: #555555;

  /* رنگ برند */
  --c-primary: #e63946; /* دکمه‌ها، آفرها */
  --c-primary-hover: #cc2f3c;

  /* رنگ مکمل */
  --c-secondary: #457b9d;

  /* رنگ قیمت‌ها */
  --c-price-new: #2a9d8f;
  --c-price-old: #d62828;

  /* بُردرها */
  --c-border: #dddddd;

  /* فاصله‌بندی */
  --section-gap: 140px;
}

/* حالت شب */
@media (prefers-color-scheme: dark) {
  :root {
    --c-light-bg: #1e1e1e;
    --c-card: #2a2a2a;

    --c-text: #f0f0f0;
    --c-text-muted: #bdbdbd;

    --c-border: #444444;
  }
}

/* Reset پایه */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  direction: rtl;
  font-size: 15px;
}

/*بدنه*/
body {
  margin: 0;
  padding: 0;
  font-family: Zar; /* فونت لوکال خودت */
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-text, #111);
  background: var(--color-background, #fff);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

/*برای اینکه متن همیشه راست به چپ باشه*/
body,
p,
span,
div {
  text-align: right;
}
